body
{
    background-color: #ffccaa;
    font-family: Tahoma;
    font-size: 2;
}

a
{
    color: #a04000;
}

h1
{
    color: #a04000;
}

#mozart
{
    float: left;
    width: 110pt;
    margin: 5pt 20pt;
}

p
{
    text-align: justify;
}

